<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gender Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div style="width: 50%; margin: auto">
      <canvas id="genderChart"></canvas>
    </div>

    <script>
      // URL da API para buscar os dados
      const apiUrl = "{% url 'gender_data_api' %}";

      // Fazendo a requisição para a API
      fetch(apiUrl)
        .then((response) => response.json())
        .then((data) => {
          const ctx = document.getElementById("genderChart").getContext("2d");
          const chartData = {
            labels: data.labels, // Labels dos gêneros
            datasets: [
              {
                label: "Distribuição por Gênero",
                data: data.counts, // Contagem de cada gênero
                backgroundColor: [
                  "#FF6384",
                  "#36A2EB",
                  "#FFCE56",
                  "#4BC0C0",
                  "#9966FF",
                  "#FF9F40",
                ], // Cores para o gráfico
              },
            ],
          };

          // Configuração do gráfico
          const config = {
            type: "doughnut",
            data: chartData,
          };

          // Renderiza o gráfico
          new Chart(ctx, config);
        })
        .catch((error) => console.error("Erro ao buscar os dados:", error));
    </script>
  </body>
</html>
