# Logs
*.log

# Python Compiled Files
*.pyc
*.pyo
__pycache__/

# Banco de Dados
# Não estamos mais usando SQLite, então nenhum arquivo de banco será ignorado.
# Caso use algum arquivo local temporário, insira aqui para ser ignorado.

# Ambiente Virtual
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Configurações do VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ferramentas de Teste e Build
build/
dist/
*.egg-info/
*.egg
*.whl
.tox/
.coverage
.coverage.*

# Django
*.pot  # Arquivos de tradução temporários
media/ # Apenas se quiser ignorar uploads do diretório 'media/' (remova se quiser compartilhá-los)

# Unit Test Cache
.pytest_cache/
.hypothesis/

# Celery
celerybeat-schedule.*

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# Backup Files
*.bak

# Outros
.DS_Store
